.cardlist{
    max-width: 3050px;
}
.title{
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 100%;
    color: #131313;
}
.uppercase{
    text-transform: uppercase;
}
.cards__title{
    padding: 121px 0 80px 0;
}
.card{
    list-style: none;
    border: 1px solid #ddd;
}
.card__image{
    position: relative;
}
.card__image img{
    border-right: 10px solid #753bbd;
    display: block;
    width: 100%;
    height: auto;
}
  
.tablet {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 115%;
}
.image__tablet{
    position: absolute;
    top: 0px;
    left: 0px;
}
.image__tablet--yellow{
    background-color: #fbe200;
}

.description{
    gap: 30px;
    padding: 5.88%;
}

.heading{
    gap: 18px;
}
.head{
    font-size: 18px;
    font-weight: 700;
    line-height: 133%;
    color: #131313;
}
.subhead{
    font-size: 16px;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #131313;
}
.info{
    gap: 11px;
}
.line{
    gap: 10px;
}
.information{
    font-size: 10px;
    line-height: 115%;
    color: #131313;
    font-weight: 400;
}
@media (min-width: 1024px) {
    .cards__title{
        padding: 4.6511627% 0;
    }    
    .card{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-right: 10px solid #753bbd;
    }
    .card__cardlist{
        width: 50.87209%;
        max-width: none;
    }
    .card__image{
        width: 37.71428%;
    }
    .card__image img{
        width: 100%;
        height: 100%;
        border-right: none;
        
    }
    .card__image--cover{
        object-fit: cover;
    }
    .card__image--noimg{
        border-right: none;
    }
    .description{
        width: 61.14285%;
        gap: 45px;
        padding: 3.4285714%;
        padding-bottom: 6.2666%;
    }
    .heading{
        gap: 5px;
    }
    .head{
        font-size: 24px;
        line-height: 125%;
    }
    .info{
        width: 100%;
        gap: 15px;
    }
    .information{
        font-size: 12px;
        width: 100%;
    }
}