.description__head{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    color: #131313;
    margin-bottom: 18px;
}
.description__subhead{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 30px;
}
.description__line{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.description__information--first-line{
    margin-bottom: 11px;
}
.description__information{
    font-size: 10px;
    line-height: 1.15;
    color: #131313;
    font-weight: 400;
}
@media (min-width: 1024px) {   
    .description__head{
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 5px;
    }
    .description__subhead{
        margin-bottom: 45px;
    }
    .description__information--first-line{
        margin-bottom: 15px;
    }
    .description__information{
        font-size: 12px;
        width: 100%;
    }
}