/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 128%;
}

/* Header styles */
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 15px;
  }
.header__logo {
    max-width: 20px;
}
.header__nav {
    position:absolute;
    right: 80px;
}
.header__nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.header__nav-item a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    flex-direction: row;
}
.header__search__icon {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    /* light grey */
    border: 1px solid #DDDDDD;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    border-bottom: 0;
    border-top:0;
    border-right: 0;
    border-right: 0;

}
.header__search__icon img {
       height: 30%;
       width: 30%;
       margin-left: 40%;
       margin-top: 35%;
}
.header__nav__icon {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    /* light grey */
    border: 1px solid #DDDDDD;
    position:absolute;
    right: 50px;
    border-bottom: 0;
    border-right: 0;
    border-top:0;

}
.header__nav__icon img {
        height: 30%;
        width: 30%;
        margin-left: 35%;
        margin-top: 35%;
}
@media all and (max-width: 769px) {
.header__nav {
  display:none;
}
}
/* Media query for larger screens */
@media (min-width: 769px) {

.header__nav {
    position:absolute;
    right: 80px;
}
.header__nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: row;

}
.header__nav-item a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    flex-direction: row;
}
.header__nav__icon{
    display:none;
}
}