.logo__image {
    display: block;
    width: 44px;
    height: 44px;
}
@media (min-width: 1024px) {
    .logo{
        padding: 4.5px 0;
    }
    .logo__image{
        display: block;
        width: 35px;
        height: 35px;
    }
}
