.signpost{
    margin-top: 80px;
    margin-bottom: 41px;
}
.signpost__content {
    display: flex;
    width: 100%;
    height: 100%;
}
@media (min-width: 1024px) {
    .signpost{
        margin-bottom: 100px;
    }
}