.signpost{
    margin-bottom: 10.933%;
}
.signpost__title{
    margin: 80px 0;
}
.post{
    background-color: #f3f3f3;
    padding: 30px;
    gap: 20px;
}
.content__post{
    height: auto;
    width: 80.88235%;
}
.content {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 2050px;
}
.content__imageleft {
    position: relative;
    width: 19.1176%;
    border-right: 15px solid #05c3de;

}
.content__imageleft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name{
    gap:10px;
}
.headline{
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
}
.post__vector,
.post__more,
.day,
.content__imageright{
    display: none;
}
.subheadline{
    color: #767676;
    font-size: 12px;
    line-height: 157%;
    letter-spacing: 0.375px;
}
.events{
    flex: 1 0 0;
    gap: 15px;
}
.postline{
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.postline svg {
    margin-right: 5px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}
.purple{
    color: #753bbd;
}
.arrow{
    width: 13px;
    height: 13px;
}
.post__button{
    width: 100%;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
    font-weight: 700;
}
.event{
    line-height: 138%;
}
@media (min-width: 1024px) {
    .signpost{
        margin-bottom: 5.208%;
    }
    .post{
        padding: 80px 84px;
        gap: 30px;
        width: 58.604%;
    }
    .content__imageleft {
        position: relative;
        width: 29.30232%;
        border-right: none;
    
    }
    .name{
        width: 100%;
        gap:30px;
    }
    .headline{
        font-size: 46px;
    }
    .post__name--gap17{
        align-content: start;
        width: 100%;
        align-items: center;
        gap: 17px;
    }
    .post__vector,
    .post__more,
    .day
    {
        display: block;
    }
    .vector{
        color: #ddd;
        height: 2px;
        width: 8.14%;
        margin: 0;
    }
    .more{
        font-weight: 700;
        line-height: 128%;
        letter-spacing: 0.438px;
    }
    .subheadline{
        font-size: 14px;
        letter-spacing: 0.438px;
    }
    .events{
        width: 100%;
    }
    .postline{
        padding-bottom: 20px;
        gap: 15px;
        width: 100%;
    }
    .arrow{
        margin-left: auto;
    }
    .post__button{
        display: none;
    }
    .event{
        font-size: 18px;
        width: 100%;
    }
    .day{
        display: inline-block;
    }
    .content__imageright{
        display: block;
        position: relative;
        width: 12.0930%;
        border-right: 40px solid #05c3de;
    }
    .content__imageright img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}