.signpost__post--description--info--icon img {
  width: 15px;
}

.signpost__post--description--info--text--link,
.signpost__post--description--info--text--dash,
.signpost__post--description--info--text--day,
.signpost__post--description--info--text--date {
  font-weight: 600;
  font-size: 14px;
  line-height: 138%;
  display: inline;
  width: auto;
  height: auto;
}

.signpost__post--description--info--text--link {
  color: #753BBD;
}

.signpost__post--description--info--arrow {
  margin-left: 80%;
  margin-top: -74px;
}

.signpost__post--description--info--arrow img {
  width: 6px;
}

@media (max-width: 960px) {

  .signpost__post--description--info--day {
    display: none;
  }
  .signpost__post--description--info--text {
    width: 50%;
  }
  .signpost__post--description--info--icon {
    margin-left: 25px;
    margin-top: -64px;
  }

}

@media (min-width: 961px) {
  .signpost__post--description--info--icon {
    margin-left: 41px;
  }

  .signpost__post--description--info--icon img {
    width: 10px;
  }

  .signpost__post--description--info--arrow {
    margin-left: 90%;
    margin-top: -20px;
  }

  .signpost__post--description--info--arrow img {
    width: 4px;
  }


  .signpost__post--description--info--text--link,
  .signpost__post--description--info--text--dash,
  .signpost__post--description--info--text--day,
  .signpost__post--description--info--text--date {
    font-size: 10px;
    line-height: 138%;
    font-weight: 600;
  }

  .signpost__post--description--info--link {
    width: auto;
    height: auto;
    color: #753BBD;
  }


  .signpost__post--description--info--text{
      width: 75%;
  }

}